#box{
    border: 1;
    margin: 200px;
    margin-top: 5px;
    background-color: bisque;
    height: 1580px;
    width: 650px;
}
#menu{ 
    text-decoration: underline;
    text-align: center;
}

img{
    height: 150px;
    width: 150px;
    margin: 15px;
    margin-top: 5px;
}
p{
   font-size: larger;
}

#myOrder{
    font-size: large;
}

#appritiation{
    color: darkorchid;
}